{% extends 'datatable-base.html.twig' %}

{% block title %}upload csv file{% endblock %}

{% block body %}
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
        </ul>
    </nav>
    <!-- /.navbar -->

    {% include 'aside.html.twig' %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Upload CSV File</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
                            <li class="breadcrumb-item active">Upload CSV File</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between">
                                <a href="{{ path('app_employees') }}" class="btn btn-primary"> back to employees</a>
                            </div>
                            <div class="card-body">
                                <div class="card">
                                    <h5 class="p-3">Please <a href="{{ asset('files/example-employees-csv.xlsx') }}"
                                                              download="">click here</a> to download your csv file
                                        Format to import</h5>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <form action="{{ path('app_show_employees_files') }}" method="post"
                                                  enctype="multipart/form-data" class="pb-5">
                                                <label for="employees-csv" class="ml-1 text-center d-block"
                                                       style="height: 175px;line-height: 175px;border: 1px dashed;cursor: pointer"
                                                       id="file-label">Select CSV File</label>
                                                <input type="file" name="employees-csv" id="employees-csv"
                                                       style="display: none" required>
                                                <button type="submit" class="btn btn-sm btn-primary btn-block"
                                                        style="opacity: 0" id="file-upload-submit-btn">Select
                                                </button>
                                                <span class="alert alert-danger text-center" id="file-extension-error" style="display: none">Only Excel Sheet Acceptable</span>
                                            </form>
                                        </div>
                                        <div class="col-md-10 border-left px-3">
                                            <table id="example1" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 5%">Row No</th>
                                                        <th>Name</th>
                                                        <th>Employee Email</th>
                                                        <th>Password</th>
                                                        <th>Reporting Manager Name</th>
                                                        <th>Reporting Manager Email</th>
                                                        <th>Department Name</th>
                                                        <th>Location Office Name</th>
                                                        <th>In Database</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% if data is defined %}
                                                        {% for file in data %}
                                                            <tr>
                                                                <td>{{ file.row }}</td>
                                                                <td>{{ file.name }}</td>
                                                                {% if file.uniqueEmailError %}
                                                                    <td class="bg-danger text-white">{{ file.employeeEmail }}</td>
                                                                {% else %}
                                                                    <td>{{ file.employeeEmail }} {{ file.uniqueEmailError }}</td>
                                                                {% endif %}
                                                                <td>hidden</td>
                                                                <td>
                                                                    {% if file.reportingMCondition %}
                                                                        {{ file.showReportManager }}
                                                                    {% else %}
                                                                        <span class="text-danger">{{ file.showReportManager }}</span>
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    {% if file.reportingMCondition %}
                                                                       {{ file.email }}
                                                                    {% else %}
                                                                        <span class="text-danger">{{ file.email }}</span>
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    {% if file.depCondition %}
                                                                        {{ file.showDepartment }}
                                                                    {% else %}
                                                                        <span class="text-danger">{{ file.showDepartment }}</span>
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    {% if file.locCondition %}
                                                                        {{ file.showLocation }}
                                                                    {% else %}
                                                                        <span class="text-danger">{{ file.showLocation }}</span>
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    {% if file.itemError %}
                                                                        <button class="btn btn-danger upload-table-td-title">
                                                                            <i class="fas fa-ban"></i>
                                                                        </button>
                                                                    {% else %}
                                                                        <button class="btn btn-success">
                                                                            <i class="fas fa-check"></i>
                                                                        </button>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                </tbody>
                                            </table>
                                            {% include 'uploads/uploads-button.html.twig' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.control-sidebar -->

    {% include 'footer.html.twig' %}

{% endblock %}