<div class="row py-3">
    <div class="col-12 text-right">
        <div class="row py-3">
            <small class="w-100 bg-info text-white text-left p-1"><b>Note: </b> creation new employee have 3 dependency (Department, Location, Reporting manager) which you must have to provide correct information. otherwise you will be not able to upload data</small>
        </div>
        {% if errors is defined %}
            <div class="row py-3 {{ uniqueEmailError ? 'text-white bg-red' : 'text-white bg-indigo'}}">
                <b class="d-block m-auto">
                    {{ uniqueEmailError
                    ? 'The Red background marked emails are exists in database already! please remove them and then try again'
                    : 'Seems some information mismatch or not exist in database '
                    }} (<button class="btn btn-danger btn-sm"><i class="fas fa-ban"></i></button>)
                </b>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-4 text-center">
                {% if errors is defined %}
                    <p>fix those, then try to upload again later</p>
                    <a href="{{ path('app_select_employees_files') }}" class="btn btn-secondary btn-sm">Cancel Upload</a>
                {% endif %}
            </div>
            <div class="col-md-4 text-center">

            </div>
            <div class="col-md-4 text-right">
                {% if errors is defined %}
                    <p>I will fix those later</p>
                    <button type="button" class="btn btn-sm btn-outline-primary" {{ uniqueEmailError ? 'disabled' : ''}} onclick="ajaxUpload()">Upload Now Anyway</button>
                {% else %}
                    <button type="button" class="btn btn-sm btn-outline-primary" {{ uniqueEmailError ? 'disabled' : ''}} onclick="ajaxUpload()">Upload</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>