 <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="{{ path('app_home') }}" class="brand-link" style="display: flex;justify-content: center">
            <img src="{{ asset('dist/img/Asset-2.png') }}" alt="asset-logo" class="brand-image elevation-3"
                 style="opacity: .8">
{#            <span class="brand-text font-weight-light">Asset Management</span>#}
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="{{ asset('dist/img/user-9.jpg') }}" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">Annor Boadu</a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    <li class="nav-item">
                        <a href="{{ path('app_home') }}" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p> Dashboard </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_vendors') }}" class="nav-link">
                            <i class="nav-icon fas fa-users"></i>
                            <p>Vendors</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_products') }}" class="nav-link">
                            <i class="nav-icon fas fa-briefcase"></i>
                            <p>Products</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-city"></i>
                            <p>
                                Assets
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{{ path('app_assets') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Lists</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('add_asset') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Add new asset</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('assigned_assets') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Assigns assets</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="{{ path('app_exports') }}" class="nav-link">
                            <i class="nav-icon fas fa-download"></i>
                            <p>Exports</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-user-tie"></i>
                            <p>
                                Admin
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{{ path('app_admins_location') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Locations</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_notifications') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Notifications</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_departments') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Departments</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_employees') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Employees</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-upload"></i>
                            <p>
                                Upload
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{{ path('app_upload_vendors_file') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Vendors</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_select_employees_files') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Employees</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_upload_products_file') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Products</p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="{{ path('app_select_assets_files') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Assets</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_upload_assigned_assets_files') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Assigned assets</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-trash"></i>
                            <p>
                                Recycle Bin
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{{ path('app_recycle_vendors') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Vendors</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_recycle_products') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Products</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_recycle_assets') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Assets</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_recycle_employees') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Employees</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-info"></i>
                            <p>
                                Supports
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{#{{ asset('') }}#}#" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>User Guide</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="{{ path('app_logout') }}" class="nav-link">
                            <i class="fa-sharp fa-solid fa-power-off pl-2 pr-2"></i>
                            <p class="text">Logout</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-info"></i>
                            <p>
                                Settings
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{{ path('app_categories') }}" class="nav-link">
                                    <i class="fa-sharp fa-solid fa-slideshare pl-2 pr-2"></i>
                                    <p class="text">Categories</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_add_category') }}" class="nav-link">
                                    <i class="fa-sharp fa-solid fa-slideshare pl-2 pr-2"></i>
                                    <p class="text">Create Category</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_add_category') }}" class="nav-link">
                                    <i class="fa-sharp fa-solid fa-slideshare pl-2 pr-2"></i>
                                    <p class="text">Create Sub Category</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>