 <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="{{ asset('index3.html') }}" class="brand-link" style="display: flex;justify-content: center">
            <img src="{{ asset('public/dist/img/Asset-2.png') }}" alt="asset-logo" class="brand-image elevation-3"
                 style="opacity: .8">
{#            <span class="brand-text font-weight-light">Asset Management</span>#}
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="{{ asset('public/dist/img/user-9.jpg') }}" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">Annor Boadu</a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    <li class="nav-item">
                        <a href="{{ path('app_home') }}" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p> Dashboard </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_vendors') }}" class="nav-link">
                            <i class="nav-icon fas fa-users"></i>
                            <p>
                                Vendors
                                <span class="right badge badge-danger">New</span>
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_products') }}" class="nav-link">
                            <i class="nav-icon fas fa-briefcase"></i>
                            <p>
                                Products
                                <span class="right badge badge-danger">New</span>
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-city"></i>
                            <p>
                                Assets
                                <i class="fas fa-angle-left right"></i>
                                <span class="badge badge-info right">6</span>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{{ path('app_assets') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Lists</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('add_assets') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Add new asset</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('assigned_assets') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Assigns assets</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ asset('pages/layout/top-nav-sidebar.html') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Components</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="{{ path('app_exports') }}" class="nav-link">
                            <i class="nav-icon fas fa-download"></i>
                            <p>
                                Exports
                                <span class="right badge badge-danger">New</span>
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-user-tie"></i>
                            <p>
                                Admin
                                <i class="fas fa-angle-left right"></i>
                                <span class="badge badge-info right">6</span>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{{ path('app_admins_location') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Locations</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_notifications') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Notifications</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_departments') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Departments</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ asset('pages/layout/top-nav-sidebar.html') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Product type</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_it_members') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>IT team members</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ asset('pages/layout/top-nav-sidebar.html') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Employes</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-upload"></i>
                            <p>
                                Upload
                                <i class="fas fa-angle-left right"></i>
                                <span class="badge badge-info right">6</span>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{{ asset('pages/layout/top-nav-sidebar.html') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Vendors</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ asset('pages/layout/top-nav-sidebar.html') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Locations</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ asset('pages/layout/top-nav-sidebar.html') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Product Type</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ asset('pages/layout/top-nav-sidebar.html') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Employes</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ asset('pages/layout/top-nav-sidebar.html') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Products</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ asset('pages/layout/top-nav-sidebar.html') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Components</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ asset('pages/layout/top-nav-sidebar.html') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Assets</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ asset('pages/layout/top-nav-sidebar.html') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Assigned assets</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-trash"></i>
                            <p>
                                Recycle Bin
                                <i class="fas fa-angle-left right"></i>
                                <span class="badge badge-info right">6</span>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{{ asset('pages/layout/top-nav-sidebar.html') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Vendors</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ asset('pages/layout/top-nav-sidebar.html') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Products</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ asset('pages/layout/top-nav-sidebar.html') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Assets</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ asset('pages/layout/top-nav-sidebar.html') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Components</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-info"></i>
                            <p>
                                Supports
                                <i class="fas fa-angle-left right"></i>
                                <span class="badge badge-info right">6</span>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{{ asset('pages/layout/top-nav-sidebar.html') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>FAQs</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ asset('pages/layout/top-nav-sidebar.html') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>User Guide</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ asset('pages/layout/top-nav-sidebar.html') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Help & Supports</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ asset('pages/layout/top-nav-sidebar.html') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Demo</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-header">LABELS</li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon far fa-circle text-danger"></i>
                            <p class="text">Important</p>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>